<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body>
    <h1 class="text-3xl font-bold">About Us</h1>
    <a href="{% url 'home' %}">Home</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quas, rerum
      dicta tempora itaque numquam. Cupiditate, quia. Temporibus iure repellat
      praesentium ea modi laudantium adipisci in, odit placeat nobis doloremque.
    </p>
  </body>
</html>
