<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tasks</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100 min-h-screen">
  <div class="max-w-3xl mx-auto p-6">
    <h1 class="text-5xl font-bold text-center text-gray-700 py-4">
      Task List
    </h1>
    <div class="flex justify-end">
      <a href="{% url 'create_task' %}" class="bg-sky-600 hover:bg-sky-700 text-white px-4 py-2 rounded">
        New task
      </a>
    </div>
    <ul class="space-y-4 mt-6">
      {% for task in tasks %}
      <li class="bg-white rounded-[.25rem] shadow-sm p-5">
        <div class="flex justify-between items-center">
          <h3 class="text-lg font-semibold text-gray-800">
            {{ task.title }}
          </h3>

          <div class="flex gap-2">
            <form method="GET" action="{% url 'update_task' task.id %}">
              {% csrf_token %}
              <button type="submit"
                class="rounded-[.25rem] bg-yellow-500 hover:bg-yellow-600 transition-colors px-2 py-1 text-white font-semibold cursor-pointer">
                Editar
              </button>
            </form>
            {% if not task.is_done %}
            <form method="POST" action="{% url 'complete_task' task.id %}">
              {% csrf_token %}
              <button type="submit"
                class="rounded-[.25rem] bg-lime-500 hover:bg-lime-600 transition-colors px-2 py-1 text-white font-semibold cursor-pointer">
                Concluir
              </button>
            </form>
            {% endif %}
          </div>
        </div>

        <p class="text-gray-600 text-sm mt-1">{{ task.description }}</p>

        <div class="flex items-center gap-4 mt-3 text-sm">
          <div>
            <span class="text-gray-500"> {{ task.category }} </span>
          </div>

          {% if task.is_done %}
          <span class="text-green-600 font-medium flex items-center gap-1">
            ✅ Concluída
          </span>
          {% else %}
          <span class="text-amber-600 font-medium flex items-center gap-1">
            ⏳ Pendente
          </span>
          {% endif %}
        </div>
      </li>
      {% empty %}
      <p class="text-gray-500">Nenhuma tarefa cadastrada.</p>
      {% endfor %}
    </ul>
  </div>
</body>

</html>